html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.privacy a {
  color: blue;
  text-decoration: underline;
}

.alert-privacy .message {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 989 !important;
}

/* Main POSTS */
.main-posts-img-container {
  display: flex;
}

.main-posts-img-container .w3-display-container {
  margin: 5px;
  border: 3px solid rgb(110, 82, 6);
  border-radius: 5px;
}

.main-posts-h1 {
  font-size: 2em;
  color: rgb(110, 82, 6);
}

.emoji-list {
  font-size: 24px;
  list-style: none;
}

.desktop-container {
  margin-top: 80px;
}

.desktop-container .apps-imgs {
  display: flex;
}

.app-container {
  border: solid 2px rgb(110, 82, 6);
  border-radius: 5px;
  margin: 3px;
}

.desktop-container .apps-imgs div {
  margin: 5px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .main-posts-img-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-posts-h1 {
    font-size: 1.5em;
  }

  .emoji-list {
    font-size: 14px;
    list-style: none;
  }
}
